.form {
  width:          80%;
  margin-left:    10%;
  textarea.huge_content {
    height:       200px;
  }
}
.login_form {
  width:          50%;
  border:         0px solid #000;
  padding:        20px;
  margin-left:    25%;
  input {
    width:        80%;
    margin-left:  10%
  }
  .checkbox {
    width:        15px;
    float:        left;
    margin-right: 10px;
    margin-left:  10%;
    margin-top:   -2px;
  }

}
