.intro {
  border:           1px solid red;
  height:           100%;
  background:       #ffffff image-url('intro/nager-intro-01.png') 0 0 no-repeat;
  background-size:  100% auto;
}

a.enter {
  display:          block;
  width:            100%;
  height:           100%;
}
