%ul
  %li 
    =link_to t("navigation.galleries.name"), t("navigation.galleries.url")
  %li 
    =link_to t("navigation.vita.name"), t("navigation.vita.url")
  %li 
    =link_to t("navigation.contact.name"), t("navigation.contact.url")
  %li 
    =link_to t("navigation.impress.name"), t("navigation.impress.url")